<select [(ngModel)]="dformat">
  <option *ngFor="let d of dates" value="{{ d.format }}">{{ d.date }}</option>
</select>
<p>{{ dformat }}</p>

<br />
{{ today | date: "medium" }}
<br />

<h1>Hi {{ currentUser.firstName }}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All login audit :</h3>
<div class="container mt-5">
  <nav class="navbar">
    <input
      class="form-control"
      type="any"
      name="user"
      [(ngModel)]="user"
      (ngModelChange)="Search()"
      placeholder="Enter User Id To search"
    />
  </nav>

  <h1>{{ today | date }}</h1>
  <br />

  <table
    border="1"
    cellpadding="10px"
    text="center"
    cellspacing="10px"
    align="center"
  >
    <thead text="center">
      <tr>
        <th (click)="sort('id')">USER &nbsp;<i class="fa fa-sort"></i></th>
        <th>ID</th>
        <th>Login Time</th>
        <th>Logout Time</th>
        <th>IP</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="
          let audit of audits
            | orderBy: key:reverse
            | paginate: { itemsPerPage: 5, currentPage: p }
        "
      >
        <td>{{ audit.user }}</td>
        <td>{{ audit._id }}</td>
        <td>{{ audit.loginTime | date: "medium" }}</td>
        <td>{{ audit.logoutTime }}</td>
        <td>{{ audit.ip }}</td>
      </tr>
    </tbody>
    <div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </table>
</div>
